<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.relaxtech.doomsday.bi.boot.dao.bi.BiCurrentDataDao">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="cn.relaxtech.doomsday.bi.boot.entity.bi.BiCurrentData">
        <result column="id" property="id"/>
        <result column="job_date" property="jobDate"/>
        <result column="NUC" property="NUC"/>
        <result column="DAU" property="DAU"/>
        <result column="PAC" property="PAC"/>
        <result column="RUC" property="RUC"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `job_date`,
        `NUC`,
        `DAU`,
        `PAC`,
        `RUC`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO bi_current_data (
            `id`,
            `job_date`,
            `NUC`,
            `DAU`,
            `PAC`,
            `RUC`
        ) VALUES (
            #{pojo.id},
            #{pojo.jobDate},
            #{pojo.NUC},
            #{pojo.DAU},
            #{pojo.PAC},
            #{pojo.RUC}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO bi_current_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.jobDate!=null"> `job_date`,</if>
            <if test="pojo.NUC!=null"> `NUC`,</if>
            <if test="pojo.DAU!=null"> `DAU`,</if>
            <if test="pojo.PAC!=null"> `PAC`,</if>
            <if test="pojo.RUC!=null"> `RUC`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.jobDate!=null">#{pojo.jobDate},</if>
            <if test="pojo.NUC!=null">#{pojo.NUC},</if>
            <if test="pojo.DAU!=null">#{pojo.DAU},</if>
            <if test="pojo.PAC!=null">#{pojo.PAC},</if>
            <if test="pojo.RUC!=null">#{pojo.RUC},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO bi_current_data (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.jobDate},
            #{pojo.NUC},
            #{pojo.DAU},
            #{pojo.PAC},
            #{pojo.RUC}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE bi_current_data
        <set>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.jobDate != null"> `job_date` = #{pojo.jobDate}, </if>
            <if test="pojo.NUC != null"> `NUC` = #{pojo.NUC}, </if>
            <if test="pojo.DAU != null"> `DAU` = #{pojo.DAU}, </if>
            <if test="pojo.PAC != null"> `PAC` = #{pojo.PAC}, </if>
            <if test="pojo.RUC != null"> `RUC` = #{pojo.RUC} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>
    
    <select id="getList" parameterType="java.sql.Timestamp" resultMap="AllColumnMap">
        select * from bi_current_data<where>
        <if test="date == null " >
            DATEDIFF(job_date,Now())=0
        </if>
        <if test="date != null " >
            DATEDIFF(job_date,#{date})=0
        </if>

    </where>
    </select>
</mapper>

