<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.relaxtech.doomsday.bi.boot.dao.bi.BiLtvDataDao">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="cn.relaxtech.doomsday.bi.boot.entity.bi.BiLtvData">
        <result column="id" property="id"/>
        <result column="job_date" property="jobDate"/>
        <result column="server_id" property="serverId"/>
        <result column="country" property="country"/>
        <result column="cname" property="cname"/>
        <result column="T" property="T"/>
        <result column="channel" property="channel"/>
        <result column="device_type" property="deviceType"/>
        <result column="PUC" property="PUC"/>
        <result column="NUC" property="NUC"/>
        <result column="PAC" property="PAC"/>
        <result column="LTV1" property="LTV1"/>
        <result column="LTV2" property="LTV2"/>
        <result column="LTV3" property="LTV3"/>
        <result column="LTV4" property="LTV4"/>
        <result column="LTV5" property="LTV5"/>
        <result column="LTV6" property="LTV6"/>
        <result column="LTV7" property="LTV7"/>
        <result column="LTV14" property="LTV14"/>
        <result column="LTV21" property="LTV21"/>
        <result column="LTV30" property="LTV30"/>
        <result column="LTV60" property="LTV60"/>
        <result column="LTV90" property="LTV90"/>
    </resultMap>


    <select id="getList" parameterType="cn.relaxtech.doomsday.bi.boot.entity.bi.SearchParams" resultMap="AllColumnMap">
        SELECT * FROM view_bi_ltv_data
        <where>
            <if test="startDate != null and endDate !=null" >
                job_date BETWEEN #{startDate}  AND #{endDate}
            </if>

            <if test="country != null and country.size()>0" >
                AND country in
                <foreach collection="country" item="item" open="(" close=")" separator="," index="index">
                    #{item}
                </foreach>
            </if>

            <if test="channel != null and channel.size()>0" >
                AND channel in
                <foreach collection="channel" item="item" open="(" close=")" separator="," index="index">
                    #{item}
                </foreach>
            </if>

            <if test="deviceType != null" >
                AND device_Type=#{deviceType}
            </if>
        </where>
        ORDER BY job_date DESC
    </select>

</mapper>

